# Derived from https://github.com/route06/actions/blob/main/.github/workflows/add_assignee_to_pr.yml
# Copyright (c) 2024 ROUTE06, Inc.
# Licensed under the MIT License.

name: Add assignee to PR

on:
  workflow_call:

jobs:
  add-assignee-to-pr:
    name: Add assignee to PR
    runs-on: ubuntu-slim
    timeout-minutes: 1
    permissions:
      pull-requests: write

    if: ${{ github.event.pull_request.user.type != 'Bot' && toJSON(github.event.pull_request.assignees) == '[]' }}

    steps:
      - name: Add PR author as assignee
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh pr edit ${{ github.event.pull_request.number }} --add-assignee ${{ github.event.pull_request.user.login }}
