# Derived from https://github.com/route06/actions/blob/main/.github/workflows/create_gh_issue.yml
# Copyright (c) 2024 ROUTE06, Inc.
# Licensed under the MIT License.

name: Create GitHub Issue

on:
  workflow_call:
    inputs:
      title:
        description: "作成する Issue のタイトル"
        required: true
        type: string
      description_template_path:
        description: "Issue の説明に利用するテンプレートファイルのパス"
        required: true
        type: string
      assignees:
        description: "（任意）Issue の Assignees; 例: alice,bob"
        type: string
      labels:
        description: "（任意）Issue の Labels; 例: bug,wontfix"
        type: string

jobs:
  create_issue:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create a issue
        run: |
          ARGS=(--title "$ISSUE_TITLE" --body-file "$ISSUE_DESCRIPTION")
          [ -n "$ISSUE_ASSIGNEES" ] && ARGS+=(--assignee "$ISSUE_ASSIGNEES")
          [ -n "$ISSUE_LABELS" ] && ARGS+=(--label "$ISSUE_LABELS")
          gh issue create "${ARGS[@]}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_TITLE: ${{ inputs.title }}
          ISSUE_DESCRIPTION: ${{ inputs.description_template_path }}
          ISSUE_ASSIGNEES: ${{ inputs.assignees }}
          ISSUE_LABELS: ${{ inputs.labels }}
