name: Schedule

on:
  schedule:
    - cron: "00 10 * * 5" # every friday 19:00 JST

jobs:
  codeql:
    permissions:
      actions: read
      checks: read
      contents: read
      security-events: write
    uses: ./.github/workflows/codeql_core.yml
    with:
      language: "actions"
  pushover:
    name: pushover if failure
    if: github.ref_name == github.event.repository.default_branch && failure()
    permissions: {}
    needs: codeql
    uses: ./.github/workflows/pushover.yml
    secrets:
      PUSHOVER_API_KEY: ${{ secrets.PUSHOVER_API_KEY }}
      PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
